.button {
    background-color: #d89323;
    color: white;
}

.button-red {
    background-color: #8c0b0a;
    color: white;
    margin-top: 5px;
}

.th {
    background-color: #fadbb9;
    color: black;
}

td {
    background-color: #00aec1;
    color: white;
}

.regresar {
    width: 30px;
    height: 30px;
}

.page-link {
    background-color: black;
    color: white;
}

.active {
    background-color: #fadbb9;
    color: black;
}

@media screen and (max-width: 750px) {
    table {
        width: 20vw;
        font-size: small;
        height: auto;
    }
    .btn {
        margin-bottom: 10px;
        font-size: small;
    }
}

@media screen and (max-width: 2500px) and (min-width:1600px) {
    .btn {
        margin-bottom: 10px;
        font-size: medium;
    }
    table {
        width: 70vw;
    }
    #boton_estado {
        font-size: 0.8rem;
    }
}