.carousel-item img {
    width: 600px;
    height: 400px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: green;
}

.carousel-indicators button {
    background-color: black;
}

#info {
    background-color: #00aec1;
}

#trabajo {
    background-color: #fadbb9;
    height: 30vh;
}

.img-pagos {
    width: 150px;
    height: 150px;
}

@media screen and (max-width:600px) {
    #trabajo {
        background-color: #fadbb9;
        height: 50vh;
    }
}