<h1 class="text-center text-white mt-5"> Solicitudes </h1>
<div class="d-grid gap-2 col-6 mx-auto justify-content-md-end">
    <a class="btn btn-success text-white" [routerLink]="['/encargado/registrar-trabajador']">CREAR SOLICITUD</a>
</div>
<div class="row justify-content-center mt-5">
    <div class="col">
        <div class="container table-responsive mt-5">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="th" scope="col">#</th>
                        <th class="th" scope="col">Fecha Inicio</th>
                        <th class="th" scope="col">Fecha Fin</th>
                        <th class="th" scope="col">Empleado</th>
                        <th class="th" scope="col">Estado</th>
                        <th class="th" scope="col">Aprobada Por</th>
                        <th class="th" scope="col">Denegada Por</th>
                        <th class="th" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" style="background-color: #00aec1; color: white;">trabajador.id</th>
                        <td style="background-color: #00aec1; color: white;">trabajador.departamento?.nombre | uppercase</td>
                        <td style="background-color: #00aec1; color: white;">trabajador.nombre</td>
                        <td style="background-color: #00aec1; color: white;">trabajador.apellidos</td>
                        <td style="background-color: #00aec1; color: white;">trabajador.dias_laborales</td>
                        <td style="background-color: #00aec1; color: white;">trabajador.telefono</td>
                        <td style="background-color: #00aec1; color: white;">trabajador.telefono</td>
                        <td style="background-color: #00aec1; color: white;">
                            <a type="button" class="btn button text-white ms-4">Ver</a>
                        </td>
                    </tr>
                    <tr>
            </table>
        </div>
    </div>
</div>