.home {
    height: 100vh;
    background-image: url(../../../../assets/recursos/imagenes/general/login/fondo-app.jpg);
}

.card {
    background-color: #27a082;
    color: white;
    width: 12rem;
}

.col img {
    width: 100px;
    height: 100px;
}

.solicitudes {
    position: absolute;
    top: -5%;
    right: -5%;
    background-color: red;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
}

@media screen and (max-width:500px) {
    .card {
        margin-bottom: 10px;
        width: 40vw;
    }
}

@media screen and (max-width:1500px) and (min-width:501px) {
    .card {
        margin-bottom: 10px;
        width: 20vw;
    }
}