<app-navbar></app-navbar>
<section class="profile-card" id="profile-card">

    <img id="profile-image" src="https://avatars3.githubusercontent.com/u/26097311?v=4&s=400" />

    <h1>Marius Niveri</h1>

    <div id="info-box">
        <p style="color: #d8d8d8;">Desarrollo de Software</p>
    </div>
    <div class="card" style="background-color: #f8f9fa;">
        <div class="card-body">
            <h6 class="card-title text-center" style="color: #818ea2;">Días de vacaciones solicitados</h6>
            <nav>

                <ul>
                    <li>
                        <p>Octubre 2023</p>
                    </li>

                    <li class="ms-2">
                        <p class="social-media-icon" style="color: white;">21</p>
                    </li>
                    <li class="ms-1">
                        <p class="social-media-icon" style="color: white;">21</p>
                    </li>
                    <li class="ms-1">
                        <p class="social-media-icon" style="color: white;">21</p>
                    </li>
                    <li class="ms-1">
                        <p class="social-media-icon" style="color: white;">21</p>
                    </li>


                </ul>

                <h6 class="card-title text-center" style="color: #818ea2;">Justificacion</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat tellus et mi pulvinar, at aliquet justo dictum. Ut varius dignissim magna, vel sodales erat lacinia id. Donec condimentum vulputate arcu in varius. Suspendisse tempor
                    vehicula dignissim. Vestibulum ut velit porttitor est pretium dapibus a eu nulla. Mauris tincidunt condimentum elementum. Quisque id vulputate dolor. Donec sed turpis imperdiet, iaculis mauris eu, bibendum metus. Mauris imperdiet blandit
                    felis, id venenatis diam accumsan vel. Aenean aliquet augue et hendrerit euismod. Etiam sagittis imperdiet odio, eu faucibus orci. In vestibulum nisl vel tortor egestas ultrices. Curabitur elementum, mi nec tempor laoreet, magna arcu
                    dignissim diam, vel pharetra odio mi nec purus. </p>
                <br>
                <div class="card warning" style="background-color: #ffc107; font-weight:bold ;">
                    <div class="card-body">
                        PENDIENTE
                    </div>
                </div>

            </nav>

        </div>
    </div>

</section>