<app-navbar></app-navbar>
<section class="profile-card" id="profile-card">

    <img id="profile-image" src="https://avatars3.githubusercontent.com/u/26097311?v=4&s=400" />

    <h1>Marius Niveri</h1>

    <div id="info-box">
        <p style="color: #d8d8d8;">Desarrollo de Software</p>
    </div>
    <div class="card" style="background-color: #f8f9fa;">
        <div class="card-body">
            <h6 class="card-title text-center" style="color: #818ea2;">Días de vacaciones solicitados</h6>
            <nav>

                <ul>
                    <li>
                        <p>Octubre 2023</p>
                    </li>

                    <li class="ms-2">
                        <p class="social-media-icon" style="color: white;">21</p>
                    </li>
                    <li class="ms-1">
                        <p class="social-media-icon" style="color: white;">21</p>
                    </li>
                    <li class="ms-1">
                        <p class="social-media-icon" style="color: white;">21</p>
                    </li>
                    <li class="ms-1">
                        <p class="social-media-icon" style="color: white;">21</p>
                    </li>


                </ul>

                <h6 class="card-title text-center" style="color: #818ea2;">Justificacion</h6>
                <p> </p>
                <br>
                <button type="button" class="btn btn-success">APROBAR</button>
                <button type="button" class="btn btn-danger ms-5">RECHAZAR</button>

            </nav>

        </div>
    </div>

</section>