.titulo {
    color: white;
    margin-top: 5rem;
}

.link {
    color: #FFFEE7;
}

full-calendar {
    position: absolute;
    top: 8%;
    width: 70vw;
    height: 85vh;
    color: white;
    margin-top: 2rem;
}

@media screen and (max-width:700px) {
    .titulo {
        color: black;
    }
}