<app-navbar></app-navbar>
<h1 class="text-center text-white mt-5"> Trabajadores </h1>
<div class="d-grid gap-2 col-6 mx-auto justify-content-md-end">
    <a class="btn btn-success text-white" [routerLink]="['/admin/agregar_trabajador']">AGREGAR TRABAJADOR</a>
</div>

<div class="row justify-content-center mt-5">
    <div class="col">
        <div class=" container table-responsive mt-5">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="th" scope="col">Nombre</th>
                        <th class="th" scope="col">Departamento</th>
                        <th class="th" scope="col">Correo</th>
                        <th class="th" scope="col">Genero</th>
                        <th class="th" scope="col">Nombre Usuario</th>
                        <th class="th" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let trabajador of trabajadores">
                        <th scope="row" style="background-color: #00aec1; color: white;">{{trabajador.nombre}} {{trabajador.apellidos}}</th>
                        <td>{{trabajador.departamento.nombre}}</td>
                        <td>{{trabajador.usuario.correo}}</td>
                        <td>{{trabajador.genero}}</td>
                        <td>{{trabajador.usuario.nombre_usuario}}</td>
                        <td>
                            <a type="button" class="btn button text-white ms-4">Editar</a>
                            <a type="button" class="btn button-red text-white ms-4">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
            </table>
        </div>
    </div>
</div>