.button {
    background-color: #d89323;
    color: white;
}

.button-red {
    background-color: #8c0b0a;
    color: white;
}

.th {
    background-color: #fadbb9;
    color: black;
}

td {
    background-color: #00aec1;
    color: white;
}

.regresar {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 750px) {
    table {
        width: 30vw;
    }
    .btn {
        margin-bottom: 10px;
        font-size: small;
    }
}

@media screen and (max-width:1500px) and (min-width:751px) {
    .btn {
        margin-bottom: 10px;
        font-size: medium;
    }
}